ConfigNetwork/bin/Debug/garant.ini
ConfigNetwork/bin/Debug/cnfg.txt
ConfigNetwork/bin/Debug/ConfigNetwork.exe
ConfigNetwork/bin/Debug/ConfigNetwork.pdb

ConfigNetwork/bin/Debug/ConfigNetwork.exe.config
ConfigNetwork/obj/Debug/ConfigNetwork.csproj.FileListAbsolute.txt
ConfigNetwork/obj/Debug/ConfigNetwork.csproj.GenerateResource.Cache

ConfigNetwork/obj/Debug/ConfigNetwork.exe
ConfigNetwork/obj/Debug/ConfigNetwork.pdb

ConfigNetwork/obj/Debug/ConfigNetwork.MainForm.resources
ConfigNetwork/obj/Debug/ConfigNetwork.csprojResolveAssemblyReference.cache